{% extends "base.html" %}
{% block nav-chronological %}selected gradient{% endblock %}

{% block log %}
<div class = "search">
	<form action="/chronological/" method="get">
		<input type="hidden" name="q" value="search">
		Year<input type="text" size="1" maxlength="4" name="y" value="{{y}}">
		Month<input type="text" size="1" maxlength="2" name="m" value="{{m}}">
		Day<input type="text" size="1" maxlength="2" name="d" value="{{d}}">
		Hour<input type="text" size="1" maxlength="2" name="h" value="{{h}}">
		Minute<input type="text" size="1" maxlength="2" name="min" value="{{min}}">
		<input type="submit" value="Search">
	</form>
</div>
	<div class="paginatebar">
		<div class="pagination">
			<span class="step-links">
				{% if left %}
					<a href="{{left}}">&lt;&lt;</a>
				{% endif %}

				<span class="current">
					{{ time }}
				</span>

				{% if right %}
					<a href="{{right}}">&gt;&gt;</a>
				{% endif %}
			</span>
		</div>
	</div>
<div class="innerbox">
	{% if log_list|length == 0 %}
		{% if query %}
			There are no results for "{{query}}".
		{% else %}
			There are no results.
		{% endif %}
	{% else %}
		<table>
		<tr><td colspan="3"><span class="timezone">Times are given in CST{#<%= @messages.first.time.strftime("%Z") %>.#}</span></td></tr>
		{% for log in log_list %}
		<tr>
			<td class="time" {#title="{{log.time}}"#} >{{log.time}}</td>
			<td class="user"><a href="/user/?q={{log.user}}">{{log.user}}</a></td>
			<td class="message">{{log.text}}</td>
		</tr>
		{% endfor %}
		</table>
	{% endif %}
</div>
{% endblock %}
<!--
http://stackoverflow.com/questions/340888/navigation-in-django/899993#899993
https://github.com/divio/django-cms/blob/develop/menus/templates/menu/menu.html
https://www.google.com/search?q=django+template+menu+example&oq=django+template+menu+example&aqs=chrome..69i57j0.11203j0j1&sourceid=chrome&espv=210&es_sm=93&ie=UTF-8
https://www.google.com/search?q=django+class+select&oq=django+class+selec&aqs=chrome.1.69i57j0l3.12307j0j1&sourceid=chrome&espv=210&es_sm=93&ie=UTF-8
-->